@media (max-width: 1000px){

    .header-navigation-wrapper{
        flex-direction: column;
        height: 100%;
        padding-top: 30px;
    }
    
    .body-wrapper{
        flex-direction: column;
    }

    .body-wrapper > .right-heather-body-wrap > .image-wrap img {
        width: 100%;
        object-fit: cover;
        object-position: bottom;
    }

}



@media (max-width: 700px){

    .body-wrapper > .left-heather-body-wrap > .body-btn-wrap > .dark-gray-btn {
        margin-left: 0px;
        margin-top: 10px;
    }

    .bottom-wrap {
        flex-direction: column;
        height: 100%;
        padding: 0px;
    }


}